* {
  margin: 0;
  padding: 0;
}
.text {
  position: absolute;
  top: 40%;
  left: 32%;
}
h1 {
  font-size: 60px;
  font-family: "Itim", cursive;
  color: whitesmoke;
}
body {
  background-color: black;
  cursor: none;
  height: 99.8vh;
}
.cursour{
  height: 20px;
  width: 20px;
  border-radius: 50px;
  z-index: 1;
  position: fixed;
  box-shadow: 0px 0px 50px 10px rgba(255,255,255,1);
}